@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
    overflow-y: scroll;
}

#CSU {
    color: black;
}


.Header {
    padding: 3vh 5vw 3vh 5vw;
    background-color: white;
    min-height: 1vh;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    color: black;
    font-size: calc(4vmin);
}

#CSULB strong {
    color: #F9A600;
}

.Footer {
    padding: 3vh 5vw 3vh 5vw;
    background-color: #dadada;
    min-height: 1vh;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    color: black;
    font-size: calc(4vmin);
    position: relative;
}

.HeaderLogo {
    align-items: flex-start;
}

.FooterLogo {
    align-items: flex-start;
}

.FooterLogo strong {
    color: #F9A600;
}

.FooterLogo span {
    color: dimgray;
    font-weight: bolder;
}

#TIGLogo {
    text-align: left;
    text-decoration: overline;
    color: dimgray;
    line-height: 8vmin;
    font-weight: bolder;
}

.WPLinks {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmin;
    color: dimgray;
    flex: 1 1 auto;
}

.FooterLinks {
    text-align: right;
    font-size: 3vmin;
    color: dimgray;
    flex: 1 1 auto;
    position: absolute;
    bottom: 3vh;
    right: 5vw;
}

.topLinks {
    flex-grow: 1;
}

.bottomLinks {}

#NavLink {
    color: black;
}

.App-mainbody1 {
    padding-top: 4vh;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row {
    padding: 3vh 8vw 5vh 8vw;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
}

.desc {
    flex-basis: 35vw;
    line-height: 5vh;
    text-indent: 4vmin;
}

.pic {
    flex-basis: 65vw;
    text-align: center;
}

.headerTitle {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
}

.App-mainSS {
    padding: 0 5vw 0 5vw;
    background-color: #dadada;
    height: 480px;
    background: linear-gradient(to left, dimgrey, transparent, dimgrey 100%);
}

.slick-slide .slide-photo {
    height: 480px;      /* Equals maximum image height */

    text-align: center;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide img {
    vertical-align: middle;
    max-height: 480px;
    display: inline;
    z-index: -1;
}

.slick-slide p {
    position:absolute;
    top: 10px;
    right: 10px;
}

.App-testpeople {
    padding: 4vh;
    background-color: #FFF;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.DW {
    padding: 4vh 8vw 4vh 8vw;
    display: flex;
    flex-direction: row;
}

.abouttext {
    flex: 65%;
    order: 1;
    text-align: center;
    color: black;
}

.mainphoto {
    flex: 35%;
    order: 2;
    text-align: center;
}

.abouttext, .mainphoto {
    flex-basis: 100%;
    border: 1px #000 solid;
}